body{
    background: #87ceeb;
    font-family: "poppins", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard{
    background: #f5f5f5;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 20px;
}

h3{
    text-align: center;
    padding: 20px;
}

p{
    text-align: center;
    padding: 18px;
    font-size: 18px;
}

.btn-dark{
    margin: 10px 20px 20px 22rem;
}

.fa-heart{
    color: #ff0000;
}

@media (max-width: 768px) {
    .dashboard{
        width: 400px;
        border-radius: 20px;
        position: fixed;
    }

    .btn-dark{
        margin: 2px 5px 5px 10.1rem;
    }
    p{
        margin: 0 28px;
    }
    .btn-dark{
        margin-top: 20px;
    }
}
