body{
    background: #87ceeb;
    font-family: "poppins", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard{
    background: #f5f5f5;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 20px;
}

h3{
    text-align: center;
    padding: 20px;
}

p{
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
